<div class="h-full flex items-center mb-40">
	
 
  <div class=" h-full w-full bg-cover bg-center " style="background-image: url('/assets/impPavGR.jpeg');">
    

    <!-- card coll_me -->
    <div class="flex   px-12 pt-5"> 
      
      <div class="grow-0 bg-gray-300 rounded-lg p-4 ">

        <div class="  grid grid-flow-row sm:grid-cols-1 md:grid-cols-2 gap-3 ">
          <div class=" max-w-sm  ">
            <img class="rounded-md" src="/assets/pompa.jpeg">
          </div>
          <div class=" max-w-sm container  text-center text-2xl font-bold ">
            <p class=" pt-32 pb-9"> chiama per un preventivo !!!</p>
          </div>
        </div>
      </div>

      <div class="grow"></div>

    </div>


    <!-- card contact -->
    <div class="flex p-12 ">

      <div class="grow"></div>
      
      <div class="grow-0 bg-gray-200 rounded-md p-2">

        <p class="font-bold text-lg p-4">Indirizzo: Via Rio Pozzale, 15 </p>
        <p class="font-bold text-lg p-4">cap: 56021 Latignano (pi)</p>
        <p class="font-bold text-lg p-4">Cell: 335 6447802</p>
        <p class="font-bold text-lg p-4">Email: idrotecnica@gmail.com</p>

      </div>

      <div class="grow max-w-xs"></div>
    </div>
  </div>
</div>

