<nav class="flex items-center bg-green-900 p-4 flex-wrap">
   
    <a>
      <span class="text-xl text-white font-bold uppercase tracking-wide"
        >Idrotecnica</span
      >
    </a>


    <div class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler  ">

      <button mat-button [matMenuTriggerFor]="menu" ><i class="material-icons text-white">menu</i></button>
    <!--nuv_Button-->
    <mat-menu #menu="matMenu">

      <button mat-menu-item> 
        <a
          routerLink=""
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-green-950 font-bold text-xl items-center justify-center hover:bg-gray-500">
          <span>home </span>
        </a>
      </button>

      <button mat-menu-item> 
        <a
          routerLink="chi-siamo"
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-green-950 font-bold text-xl items-center justify-center hover:bg-gray-900 hover:text-white">
          <span>chi siamo </span>
        </a>
      </button>

      <button mat-menu-item> 
        <a
          routerLink="competenze"
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded  text-green-950 font-bold text-xl items-center justify-center hover:bg-gray-900 hover:text-white">
          <span>competenze </span>
        </a>
      </button>

      <button mat-menu-item> 
        <a
          routerLink="contatto"
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded  text-green-950 font-bold text-xl items-center justify-center hover:bg-gray-900 hover:text-white">
          <span>contattaci </span>
        </a>
      </button>

      

    </mat-menu>

    </div>
    





   

    <div
      class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
      id="navigation"
    >
      <div
        class="lg:inline-flex lg:flex-row sm:ml-auto lg:w-auto w-full lg:items-center items-start  flex flex-col lg:h-auto"
      >
        <a
          routerLink=""
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
        >
          <span>Home</span>
        </a>
        <a
          routerLink="chi-siamo"
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
        >
          <span>chi siamo</span>
        </a>
        <a
          routerLink="competenze"
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
        >
          <span>competenze </span>
        </a>
        <a
          routerLink="contatto"
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-400 items-center justify-center hover:bg-gray-900 hover:text-white"
        >
          <span>contattaci</span>
        </a>
      
      </div>
    </div>
</nav>
  

<router-outlet></router-outlet>


<!-- component -->
<div class="flex items-end w-full mt-11 mb-9">

  <footer class="w-full text-white body-font">

    <div class="grid grid-flow-row sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

      <div class="items-center">
        <div class=" text-center  ">
          <p class=" text-lg font-bold text-gray-300"> contatti </p>
          <p class=" text-lg font-bold text-gray-400 hover:text-gray-200"> Numero: 335-644-7802 </p>
          <p class=" text-lg font-bold text-gray-400 hover:text-gray-200"> Email: lhvlclgxu,lxtfxz</p>

        </div>
      </div>

      <div class="items-center">
        <div class=" text-center  ">
          <p class=" text-lg font-bold text-gray-300"> info sul sito </p>
          <p class=" text-lg font-bold text-gray-400 hover:text-gray-200"> Email: andreapicchi2002@gmail.com</p>
          <a href="https://github.com/Andrea02702/idrotecnica.git"><p class=" text-lg font-bold text-gray-400 hover:text-gray-200"> ghithub</p></a>

        </div>
      </div>

      <div class="items-center mb-6">
        <div class=" text-center  ">
          <div class="mt-4 ">
            <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-start">
                <a class=" px-4 text-gray-400 cursor-pointer hover:text-gray-200">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>
               
                <a class="ml-3 px-4 text-gray-400 cursor-pointer hover:text-gray-200">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <a class="ml-3 px-4 text-gray-400 cursor-pointer hover:text-gray-200 " >
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>

        </div>
      </div>
    
    </div>
      
  </footer>

</div>