<div class="flex  h-screen">

    <div class=" w-full grid grid-cols-1  ">

    <div class="flex w-full mt-10  max-h-10">
        <div class="grow w-max "></div>

        <div class="grow-0 text-white font-bold text-4xl   ">

            <p class="">Chi siamo ?</p>
          
        </div>

        <div class="grow w-max"></div>
    </div>

    <div class="flex max-h-12 w-full text-white">

        <div class="grow"></div>


        <div class="grow-0 bg-slate-400 h-60 w-60 rounded-full">
          
        </div>

        <div class="grow "></div>

    </div>

    <div class="flex  w-full text-white mt-52 mb-52">

        <div class="grow"></div>


        <div class="grow-0 bg-slate-300 h-full mx-5 rounded-2xl">

            <p class="text-center text-black p-5 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusantium voluptas amet quidem suscipit delectus consequatur? Dolorem quia odio qui, blanditiis nobis animi in, earum non, asperiores porro dolorum similique.</p>
          
        </div>

        <div class="grow "></div>

    </div>

    </div>   


</div>